/* noto-sans latin - normal */
@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src:
        local("Noto Sans"),
        url("../fonts/noto-sans-latin-400-normal.woff2") format("woff2"),
        url("../fonts/noto-sans-latin-400-normal.woff") format("woff"),
        url("../fonts/noto-sans-latin-400-normal.ttf") format("truetype");
}

/* noto-sans latin - italic */
@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src:
        local("Noto Sans Italic"),
        url("../fonts/noto-sans-latin-400-italic.woff2") format("woff2"),
        url("../fonts/noto-sans-latin-400-italic.woff") format("woff"),
        url("../fonts/noto-sans-latin-400-italic.ttf") format("truetype");
}

/* iosevka - latin - normal */
@font-face {
    font-display: swap;
    font-family: "Iosevka";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/iosevka-latin-400-normal.woff2") format("woff2"),
        url("../fonts/iosevka-latin-400-normal.woff") format("woff"),
        url("../fonts/iosevka-latin-400-normal.ttf") format("truetype");
}

/* iosevka - latin - italic */
@font-face {
    font-display: swap;
    font-family: "Iosevka";
    font-style: italic;
    font-weight: 400;
    src:
        url("../fonts/iosevka-latin-400-italic.woff2") format("woff2"),
        url("../fonts/iosevka-latin-400-italic.woff") format("woff"),
        url("../fonts/iosevka-latin-400-italic.ttf") format("truetype");
}
